@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'Volvo';
    src: url('../fonts/VolvoBroadPro.otf');
}

.sapMITBText {
	font-family: 'Volvo' !important;
	font-size: 2.5em !important;
}

/*General styles for components */

/*Remove branding bar*/
.sapMShellBrandingBar {
    height: 0px;
}

#harshBrakes, #speedingBreaches, #attentionZones, #shocks {
	background-color:rgb(230,80,17) !important;
}

#checkPointRange, #UnusualAreas {
	background-color:rgb(149,179,66) !important;
}

#idling, #lockBreaches {
	background-color:rgb(212,121,38) !important;
}

.sapMPageHeader::before {
    border-top-width: 0rem;
}

.marginTop15 {
	margin-top: 15px;
}

.dashboardTileMargin {
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	margin-left: 7.5px;
	margin-right: 7.5px;
}

.alertSlider {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.dashboardTileText {
	font-family: 'Volvo';
	font-size: 2em;
}




.dashboardTileValue {
	font-family: 'Volvo';
	font-size: 3em;
}

#map {
	height: 100%;
	width: 100%;
}

#alertMap {
	height: 100%;
	width: 100%;
}

.alertActions {
	font-family: 'Volvo' !important;
	font-size: 3em !important;
}

#appTabBar--header {
	background: #bfbfbf;
}

.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
	color: #ffffff !important;
	text-shadow: none !important;
}

.tileStyleLeft {
	background: #bfbfbf;
	margin-left: 5px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.tileStyleRight {
	background: #bfbfbf;
	margin-left: 10px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.tileStyleSingle {
	background: #bfbfbf;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.sapMITBSelected>.sapMITBContentArrow {
	border-bottom-color: #ffffff !important;
}

.sapMSliderProgress {
	background: #ffffff !important;
}
	